{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Change Password</title>
{% endblock %}

{% block body_block%}
   <link rel="stylesheet" href="{% static 'css/style6.css' %}">
    <h1>Enter your new password</h1>
    <div class='container'>
        <div class='container'>
            <form method="POST">
                {% csrf_token %}
                New Password: <input type="password" name="change_password"></br></br>
                <input type="submit" value="set new password">
            </form>
        </div>
    </div>
{% endblock %}
